.heroContainer {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.heroContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.8125rem;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
}

.heroImage {
    width: 100%;
    height: 37.5rem;
    object-fit: cover;
    object-position: center 70%;
}

.landingPage {
    object-position: unset;
}

.heroLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13.75rem;
}

.heroContent {
    padding: 3.2rem 1.6rem;
    max-width: 1024px;
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.heroContent h1 {
    font-size: 3rem;
}


.heroContent h1 span:last-child,
.heroContent p span:last-child {
    color: var(--primary-text-color);
}

.heroButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    max-width: 15rem;
}
