/* Reset styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #F1F0FB;
  --primary-text-color: #6D4FF3;
  --secondary-color: #2c3e50;
  --text-color: #333333;
  --background-color: #ffffff;
  --accent-color: #e74c3c;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
