.desktopMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

.desktopMenu {
    display: flex;
}

.desktopMenu a {
    font-size: 17px;
    padding: 16px;
    text-transform: uppercase;
}

.desktopMenu a:hover {
    text-decoration: underline;
}