.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 16px 32px;
    transition: 0.3s ease;
    background: transparent;
}

.header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header.menuOpen {
    transition: none;
}

.navbar {
    display: flex;
}

.navbarDesktop {
    max-width: 1024px;
    margin: auto;
}